# General

db.sqlite3


# React/Node
client/node_modules/
client/npm-debug.log
client/yarn-debug.log
client/yarn-error.log
client/package-lock.json

django_crud_api/__pycache__
django_crud_api/__init__.py
